@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  margin: 5px 0;
}

li {
  list-style: none;
}

body {
  background: linear-gradient(101.07deg, gray 7.93%, black 93.3%);
  font-family: "Nunito", sans-serif;
  display: flex;
  justify-content: center;
  position: relative;
}

.container {
  margin: auto;
  width: 500px;
  height: calc(100vh - 20px);
  margin: 20px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
}

.container .profile {
  width: 104px;
  margin-bottom: 20px;
  height: 104px;
  border-radius: 50%;
  object-fit: cover;
  z-index: 99;
}

.container h2 {
  margin: 0;
  font-size: 25px;
}

.container .subtitle {
  font-size: 14px;
  color: lightgrey;
}

.social-media-container {
  display: flex;
  height: 65px;
  width: 223px;
  justify-content: space-around;
  align-items: center;
  background: rgba(224, 224, 224, 0.35);
  border-radius: 50px;
  position: absolute;
  top: -32px;
  left: calc(50% - 111px);
}

.social-media-container a {
  background: white;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-media-container svg {
  color: black;
}

.social-media-container svg:hover {
    color: gray;
}

.info-container {
  background: white;
  width: 100%;
  height: 100%;
  border-radius: 50px 50px 0 0;
  position: relative;
  margin-top: 40px;
}

.content {
  padding: 50px 30px 20px;
  width: 100%;
  color: black;
  overflow: hidden;
  position: relative;
}

.about{
    margin-bottom: 30px;
}

.content .main-content svg {
    margin-right: 10px;
}

.link {
  margin: 15px auto;
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #bcbcbc;
  border-radius: 16px;
  text-decoration: none;
  color: black;
  cursor: pointer;
  -webkit-box-shadow: 4px 4px 18px -5px rgba(179, 179, 179, 0.72);
  -moz-box-shadow: 4px 4px 18px -5px rgba(179, 179, 179, 0.72);
  box-shadow: 4px 4px 18px -5px rgba(179, 179, 179, 0.72);
}

.link:hover {
    color: gray;
}